.LGRCF {
    max-height: 90vh; /* Adjust based on your layout */
    overflow-y: auto; /* Allows vertical scrolling */
    position: relative; /* Ensures positioning is controlled within its parent */
    bottom: 100px !important;
  }
  
  .fade-out {
    transition: opacity 0.5s ease-out;
    opacity: 0;
  }
  
  